.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.actionButtonWrapper {
  margin-top: 40px;
}

.termsConditionsParagrah {
  color: #c4c5c5;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.termsConditionsParagrah a {
  text-decoration: none;
  color: #0077ff;
  font-weight: bold;
}
