.input {
  background: #323232;
  border: none;
  padding: 10px 25px;
  width: 200px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
